.container {
  height: var(--min-height);

  &__filmTop {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    margin: 0 auto;
  }

  &__title {
    font-size: var(--font-size-title);
    font-weight: var(--bold);
    margin-bottom: 50px;
  }

  &__filmLink {
    font-size: var(--font-size-lg);
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      color: var(--primary-color-hover);
      text-decoration: none;
    }
  }
}
