.container {
  height: 100vh;

  &__filmTop {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    margin: 0 auto;
  }

  &__title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &__filmLink {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #8b8fec;
      text-decoration: none;
    }
  }
}
