.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  padding: 4px 0;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--placehold-color);
  background-color: transparent;
  transition: var(--transition-all);
  flex-shrink: 0;
  position: relative;
}

.checkbox_active {
  background-color: var(--secondary-color);

  &::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: var(--font-size-line);
  }
}

.container_label {
  color: #ffffff99;
  transition: var(--transition);
}

.container_label_active {
  color: var(--primary-color);
}