.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding);
  min-height: 50vh;

  &__loader {
    border: var(--border);
    border-top-color: var(--secondary-color);
    border-radius: var(--radius-50);
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
