@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to bottom right, #5f50a3, var(--dark-color));
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  font-size: inherit;
  text-align: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  transition: var(--transition-all);

  &:focus {
    outline: none;
  }
  
  &:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.buttonScroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  padding: 0;
}

.card-image {
  width: var(--main-width);
  height: auto;
  object-fit: cover;
  border-radius: var(--radius-middle);
  display: block;
  flex-shrink: 0;
}
