:root {
    --primary-color: #ffffff;
    --secondary-color: #686de0;
    --dark-color: #2c2c54;
    --primary-color-hover: #8b8fec;
    --form-color: #ffffff0d;
    --placehold-color: #ffffff4d;
    --shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    --background-form: rgba(255, 255, 255, 0.05);
    --background-focus: rgba(255, 255, 255, 0.08);
    --background-hover: rgba(255, 255, 255, 0.078);
    --radius-max: 20px;
    --radius-middle: 12px;
    --radius-main: 10px;
    --radius-50: 50%;
    --font-size-lg: 18px;
    --font-size-md: 14px;
    --font-size-form: 28px;
    --font-size-title: 35px;
    --font-size-line: 15px;
    --font-size-content: 16px;
    --gap: 20px;
    --gap-transition: 12px;
    --gap-nav: 25px;
    --bold: 700;
    --padding-lg: 40px;
    --padding: 20px;
    --padding-md: 10px;
    --padding-form: 40px 32px;
    --padding-empty: 60px 20px;
    --padding-text: 12px 16px;
    --margin-form: 8px;
    --main-width: 100%;
    --main-height: 100%;
    --min-height: 100vh;
    --transition: color 0.3s ease;
    --transition-all: all 0.3s ease;
    --spacing: 0.5px;
    --border: 2px solid rgba(255, 255, 255, 0.1);
    --border-top: 1px solid rgba(255, 255, 255, 0.06);
}