.container {
  height: 100vh;

  &__films {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &__wishlist {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__filmLink {
    font-size: 18px;

    a {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: #8b8fec;
        text-decoration: none;
      }
    }
  }
}
