.button {
  &__primary {
    color: #2c2c54;
    background-color: var(--secondary-color);
    font-weight: var(--bold);

    &:hover {
      background-color: #b3b6ef;
    }
  }

  &__transparent {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
  }

  &__nav {
    padding: 0;
    transition: var(--transition);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--secondary-color);
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: var(--main-width);
    }

    &:active {
      color: var(--dark-color);
    }
  }

  &__main {
    padding: 17px 45px;
  }

  &__long {
    padding: 17px 180px;
  }

  &__min {
    padding: 3px;
  }
}
