.button {
  &__primary {
    color: #2c2c54;
    background-color: #686de0;
    font-weight: 700;

    &:hover {
      background-color: #b3b6ef;
    }
  }

  &__transparent {
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

  &__nav {
    padding: 0;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #686de0;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &:active {
      color: #2c2c54;
    }
  }

  &__main {
    padding: 17px 45px;
  }

  &__long {
    padding: 17px 180px;
  }

  &__min {
    padding: 3px;
  }
}
