.footer {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  font-family: inherit;
  font-size: inherit;
  padding: var(--padding-lg) 0 var(--padding);
  align-items: center;

  &__nav {
    display: flex;
    gap: var(--gap-nav);
  }

  &__logo {
    cursor: pointer;
  }
}
