.footer {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  font-family: inherit;
  font-size: inherit;
  padding: 40px 0 20px;
  align-items: center;

  &__nav {
    display: flex;
    gap: 25px;
  }

  &__logo {
    cursor: pointer;
  }
}
