.films {
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  color: #ffffff;

  &__title {
    font-weight: 700;
    font-size: 35px;
    margin: 34px 0;
  }

  &__filters {
    display: flex;
    gap: 12px;
    padding: 10px;
    border-radius: 12px;
    max-width: fit-content;
    margin: 20px auto;
  }

  &__wishlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 20px;
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: 60px 20px;

    &_line {
      font-size: 15px;
    }
  }
}
