.films {
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  color: var(--primary-color);

  &__title {
    font-weight: var(--bold);
    font-size: var(--font-size-title);
    margin: 34px 0;
  }

  &__filters {
    display: flex;
    gap: var(--gap-transition);
    padding: var(--padding-md);
    border-radius: var(--radius-middle);
    max-width: fit-content;
    margin: 20px auto;
  }

  &__wishlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-nav);
    margin-bottom: 20px;
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: var(--padding-empty);

    &_line {
      font-size: var(--font-size-line);
    }
  }
}
