.card > :last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.card_main {
  width: 340px;

  .image {
    width: 282px;
    height: 405px;
  }
}

.card_long {
  width: 735px;

  .image {
    width: 677px;
    height: 375px;
  }
}