.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--radius-max);
  background-color: var(--dark-color);
  box-shadow: 0px 30px 30px 0px rgba(146, 146, 146, 0.2);
  padding: 20px 25px;
  gap: var(--gap);

  &__main {
    width: 340px;

    &__image {
      width: 282px;
      height: 405px;
    }
  }

  &__long {
    width: 735px;

    &__image {
      width: 677px;
      height: 375px;
    }
  }

  &__title {
    font-family: inherit;
    font-size: var(--font-size-lg);
    font-weight: var(--bold);
    color: var(--primary-color);
    text-align: center;
    margin: 8px 0 4px;
  }

  &__button {
    margin-top: 0;
    margin-bottom: 0;
  }
}
