.info {
  display: flex;
  flex-direction: column;
  width: 60vw;
  line-height: 125%;
  gap: 30px;
  height: var(--min-height);
  justify-content: center;

  &__title {
    font-size: 70px;
    line-height: var(--main-height);
    margin-bottom: 15px;
    font-weight: var(--bold);
  }
}
